<div class="wrapper">
  <div style="float: right">
    <%= link_to "New Initiative", new_initiative_path, class: 'btn-primary' %>
  </div>
  <div class="w-container w-row">
    <h2 class="w-col w-col-7">Initiatives</h2>
  </div>

  <%= render partial: "initiatives", locals: { initiatives: @incompleted_initiatives } %>

  <%= render partial: "initiatives", locals: { initiatives: @completed_initiatives } %>
</div>
