
<div class="card">
  <h3 class="init-name"><%= user.fullname %></h3>
  <p class="init-description"><%= user.email %></p>
  <% if user.is_admin? %>
    <p class="init-description">Admin</p>
  <% elsif user.team_members.any? %>
    <p class="init-description">Team Leader</p>
  <% else %>
    <p class="init-description">Team Member</p>
  <% end %>
  <div class="w-col w-col-2 padding-zero">
    <% if !user.is_admin? and current_user.is_admin %>
      <%= link_to user_path(user), method: :delete, data: { confirm: "Are you sure you would like to delete User: #{user.fullname}" }, :class => "no-link", :id => "delete-user-#{user.id}"  do %>
        <%= image_tag "icon-delete.svg" %>
      <% end %>
    <% end %>
  </div>
</div>
