
<div class="init-list">
  <% users.each do |user| %>
    <%= link_to edit_user_path(user), :style=> "text-decoration: none;" do %>
      <div class="card">
        <h3 class="init-fullname"><%= user.fullname %></h3>
        <p class="init-email"><%= user.email %></p>
        <% if user.is_admin? %>
          <p class="init-is-admin">Admin</p>
        <% elsif user.team_members.any? %>
          <p class="init-team-leader">Team Leader</p>
        <% else %>
          <p class="init-team-leader">Team Member</p>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
